.wrapper {
  background: url(bgb.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background: #5A5A5A;
  width: 100%;
  overflow: auto;
}

ul {
  margin: 10px;
  padding: 0;
  list-style: none;
}

li {
  float: right;
}

nav a {
  width: 120px;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover {
  background: green;
}

body {
    font-size: x-large;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  
  header {
  
    color: #fff;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }
  
  main h2 {
    margin-top: 20px;
  }
  
  footer {
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  